'use strict'
const Env = use('Env')

/*
 |--------------------------------------------------------------------------
 | Adonis-Segment Provider configuration
 |--------------------------------------------------------------------------
 |
 | Provide your Segment.io write key
 |
 */

module.exports = {
  /*
   |--------------------------------------------------------------------------
   | Your Segment API write key
   |--------------------------------------------------------------------------
   */
  writeKey: Env.get('SEGMENT_WRITEKEY', ''),
}
